body {
	width: 1080px;
}
.header {
	position: relative;
	left: 40%;
	width: 960px;
}
.content {
	width: 960px;
	position: relative;
	left: 40%;
}
.hdblock {
	display: inline-block;
	background-color: #646464; 
	margin: 1%;
}
.ctblock {
	display: inline-block;
	margin: 1%;
}
.block1 {
	width: 12%;
	height: 90px;
	float: left;
}
.block2 {
	width: 30%;
	height: 90px;
}
.block3 {
	width: 50%;
	height: 90px;
	float: right;
}
hr {
	width: 98%;
}
.block4 {
	width: 15%;
	height: 25%;
	float: left;
	font-size: 14px;
	font-style: arial;
	line-height: 22px;
	box-sizing: border-box;
	padding: 1%;
	color: white;
	background-color: #646464;

}
.block5 {
	width: 81%;
	background-color: #E5E8E8;
	color: #646464;
	font-size: 14px;
	font-style: arial;
}
.b1 {
	text-align: left;
	font-size: 14px;
	margin: 1%;
}
.block6 {
	position: relative;
	width: 14%;
	height: 140px;
	display: inline-block;
	margin: 1%;
	background-color: #E5E8E8;
}
.block7 {
	width: 15%;
	height: 20%;
	background-color: #646464;
	margin: 1%;
	float: left;
	position: absolute;
	bottom: 10;
	margin-top: 9%;
}
.block8 {
	width: 37%;
	height: 35%;
	margin: 1%;
	background-color: #E5E8E8;
	float: left;
	position: absolute;
	margin-left: 18%;
}
.block9 {
	width: 42%;
	height: 35%;
	margin: 1%;
	background-color: #E5E8E8;
	float: right;
	position: absolute;
	right: 0;
}